body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.navbar-brand {
    margin-right: 80px;
    margin-left: 20px;
}

#content {
    background-color: #474F7A;
    border-radius: 10px;
    width: 80%;
}

#banner {
    background-image: url(images/banner-background.jpg);
    background-size: cover;
    margin-top: 0%;
    padding-top: 40px;
}

#kawalan-vektor {
    background-image: url(images/kawalan-vektor-img.png);
    background-size: cover;
    margin-top: 0%;
    padding-top: 40px;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.navbar {
    background-color: #1F2544;
    color: azure;
    margin-bottom: 0%;
}

.nav-link {
    color: azure;  
}

.nav-link:hover {
    color: #FFA62F;
}

.navbar-toggler-icon {
    background-color: aliceblue;

}

.navbar-toggler {
    background-color: aliceblue;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

a:link {
    text-decoration: none;
}

.page-main-pic {
    border-radius: 1%;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 150px;
}

@media only screen and (max-width: 768px) {

    #content {
        background-color: #474F7A;
        border-radius: 10px;
        width: 95%; 
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}
